@font-face {
  font-family: RyeRegular;
  src: url("../fonts/ryeregular.ttf");
}
nav a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 42px;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: end;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:link {
  color: #3463e3;
  text-decoration: none;
}
.dropdown-content a:visited {
  color: #c42c38;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #db8087;
  text-decoration: underline;
}
.dropdown-content a:active {
  color: #6d1521;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "header         header          header" "nav            nav             nav" "main           main            main" "footer-info    footer-info     footer-info" "footer         footer          footer";
}

header {
  grid-area: header;
  height: 160px;
  border-bottom: 2px solid #c42c38;
}

nav {
  grid-area: nav;
  background-color: #eef3f7;
  top: 0;
}

main {
  grid-area: main;
  background: none;
}
main #data {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "data-1 data-2";
}

#data-1 {
  grid-area: data-1;
  background-image: url(../images/western.jpeg);
}

#data-2 {
  grid-area: data-2;
  background-image: url(../images/western-town.jpeg);
}

footer,
#footer-info {
  display: flex;
  justify-content: space-between;
}

#footer-info {
  grid-area: footer-info;
}

#footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-box-1 footer-box-2 footer-box-3";
}

#footer-box-1 {
  grid-area: footer-box-1;
}

#footer-box-2 {
  grid-area: footer-box-2;
}

#footer-box-3 {
  grid-area: footer-box-3;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer-1 footer-2 footer-3";
}

#footer-1 {
  grid-area: footer-1;
}

#footer-2 {
  grid-area: footer-2;
}

#footer-3 {
  grid-area: footer-3;
}

@media screen and (max-width: 600px) {
  #wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer-info" "footer";
  }
  main #data {
    grid-template-columns: 1fr;
    grid-template-areas: "data-1" "data-2";
  }
  #footer-info {
    grid-template-columns: 1fr;
    grid-template-areas: "footer-box-1" "footer-box-2" "footer-box-3";
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-areas: "footer-1" "footer-2" "footer-3";
  }
  nav {
    position: unset;
  }
  nav ul {
    flex-direction: column;
    text-align: left;
  }
  .dropdown-content {
    background-image: url(../images/western-landscape.jpeg);
  }
}
a:link,
a:hover,
a:focus,
a:active,
a:visited {
  background: none;
}

a:link {
  color: #3463e3;
  text-decoration: none;
}
a:visited {
  color: #c42c38;
  text-decoration: none;
}
a:hover {
  color: #db8087;
  text-decoration: underline;
}
a:active {
  color: #6d1521;
  text-decoration: underline;
}

.link-content a {
  background: none;
}

#footer-info a {
  background: none;
}

#footer-content a {
  background: none;
}

#nocscript-link a {
  text-decoration: underline;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0;
  background-color: #db8087;
  width: 300px;
  text-align: left;
  border-radius: 10px;
  border-color: #b0b8bf;
  transition: opacity 1s ease-in-out;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  transform: scale(2);
  cursor: pointer;
}

.start-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  background-image: url("../images/wanted_360-180.png");
  background-size: cover;
  text-align: center;
  z-index: 2;
}
.start-container #start-popup-header {
  font-size: 0.85em;
  color: #c42c38;
}
.start-container #start-popup-text,
.start-container #start-popup {
  font-size: 0.9em;
}
.start-container #start-popup-header,
.start-container #start-popup,
.start-container #input-name,
.start-container #submit {
  font-family: RyeRegular;
}
.start-container #submit {
  width: 6em;
  height: 2em;
}

.background-blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.won-popup {
  background-color: #4ca64c;
  border-radius: 20px;
}
.won-popup:after {
  content: url(../images/firework.png);
}

.lost-popup {
  background-color: #db8087;
  border-radius: 20px;
}
.lost-popup:after {
  content: url(../images/sad.png);
}

html {
  box-sizing: border-box;
  font-size: 1em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background: none;
}
header h1 {
  font-size: 2.1em;
  font-weight: bold;
}

h1 {
  font-family: RyeRegular;
  font-size: 1.8em;
}

h2 {
  font-family: RyeRegular;
  font-size: 1.6em;
}

h3 {
  font-family: RyeRegular;
  font-size: 1.3em;
}

h4 {
  font-family: RyeRegular;
  font-size: 1.2em;
}

h5 {
  font-family: RyeRegular;
  font-size: 1.1em;
}

h6 {
  font-family: RyeRegular;
  font-size: 1em;
}

body {
  margin: 0;
  font-family: RyeRegular;
  background-image: url(../images/western-landscape.jpeg);
  background-size: cover;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #c42c38;
}

header,
main,
footer,
nav,
#footer-info {
  padding: 1em;
  background: none;
}

section {
  padding: 0.75em;
  margin: 1em;
}

.game {
  display: grid;
  place-items: center;
}

.game,
.game-instruction {
  border-style: ridge;
  border-radius: 10px;
}

.accordion-header {
  border-style: ridge;
  border-radius: 10px;
}

#accordion p {
  padding: 10px;
}

#game-image {
  margin-bottom: 55px;
}

#container,
#hint-section {
  font-size: 1.3em;
}

#incorrect-guess,
#incorrect-guess-count {
  padding: 15px;
  background-color: #db8087;
  border-radius: 10px;
  display: none;
}

p {
  line-height: 1.4;
}

.site-image-right {
  float: right;
  margin-left: 15px;
  border-radius: 10%;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-top: 15px;
  width: 100%;
  max-width: 240px;
  height: auto;
}

button,
.keys {
  background-color: #eef3f7;
  border-style: ridge;
  border-color: #b0b8bf;
  border-radius: 5px;
  width: 10em;
  height: 2em;
  outline: none;
  font-family: RyeRegular;
}

.keys {
  margin: 5px;
  padding: 2px;
  width: 4em;
}

#playagain-button {
  margin-bottom: 20px;
}

button:hover,
.keys:hover {
  color: #c42c38;
  border-bottom: 3px solid #c42c38;
}

#accordion h3:hover {
  color: #c42c38;
  border-bottom: 3px solid #c42c38;
}

.accordion-header {
  padding: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.box {
  width: 50px;
  height: 20px;
  border-bottom: 2px solid #333;
  margin: 10px;
  padding-bottom: 5px;
}

footer,
#footer-info {
  line-height: 1.6;
}

#footer-info,
#footer-content {
  border-top: 3px solid #c42c38;
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  html {
    font-size: 0.95em;
  }
  #container,
  #hint-section {
    font-size: 1.15em;
  }
  .site-image-right {
    width: 70%;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  html {
    font-size: 0.85em;
  }
  #container,
  #hint-section {
    font-size: 1.15em;
  }
  .site-image-right {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 0.75em;
  }
  #container,
  #hint-section {
    font-size: 1.15em;
  }
  .site-image-right {
    width: 50%;
  }
}