@import url("https://fonts.googleapis.com/css?family=Peralta");

$h-font: "Peralta";
$body-font: "Peralta";


$color-header: #dde7ef;
$color-nav: #eef3f7;
$color-main: #fbfcfd;
$color-content-red: #c42c38;
$color-footer-info: #c6cfd7;
$color-footer: #b0b8bf;
$color-image-shadow: lightgray;
$color-button-border: #b0b8bf;
$color-button-hoverbackground: #c6cfd7;

$color-link: #3463e3;
$color-link-hover: #db8087;
$color-link-active: #6d1521;

$color-black: #000000;
$won-color: #4ca64c;
$lost-color: #db8087;

$won-graphic: url(../images/firework.png);
$lost-graphic: url(../images/sad.png);